# Kconfig file for package guitar_pedals
menuconfig PKG_USING_GUITAR_PEDALS
    bool "Enable Guitar Pedals Package"
    default n

if PKG_USING_GUITAR_PEDALS

    config PKG_GUITAR_PEDALS_PATH
        string
        default "/packages/multimedia/LVGL/guitar_pedals"

    config PKG_GUITAR_PEDALS_VER
       string
       default "latest"    if PKG_LVGL_VER_NUM = 0x99999 #LVGL latest version
       default "v0.2.0"    if PKG_LVGL_VER_NUM = 0x08020 #LVGL v8.2.0
       default "v0.3.0"    if PKG_LVGL_VER_NUM = 0x08030 #LVGL v8.3.0

endif

